# go_base_project 服务端配置

# 应用配置
app:
  name: "ago_base_project-admin"
  env: "development" # development, production
  debug: true

# HTTP 服务配置
http:
  port: 8086
  read_timeout: 30s
  write_timeout: 30s
  idle_timeout: 60s

# 数据库配置
database:
  driver: "mysql"
  host: "127.0.0.1"
  port: 3306
  username: "root"
  password: "root123"
  database: "test1"
  max_open_conns: 100
  max_idle_conns: 10
  conn_max_lifetime: 3600s


# 日志配置
log:
  level: "info" # debug, info, warn, error
  format: "json" # json, text
  output: "file" # stdout, file
  file_path: "logs" # 日志文件目录

# 定时任务配置
cron:
  timezone: "Asia/Shanghai"
  tasks:
    - name: "example_task"
      spec: "0 2 * * *" # 每天凌晨 2 点执行端口回收任务
      enabled: true

login:
  jwt:
    secret_key: "wesdrftgyuiygtdfsdfghfgfwsdfv" # 替换为强随机密钥
    expires_in: 240 # 令牌过期时间(小时)

